html, body {
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}

.card{
  .card-header{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
    height: 65px;
  }
}

.pagination{
  .page-link{
    &:disabled{
      background-color: #f2f2f2;
      color: #999;
      border-color: transparent;
    }
  }
}

small{
  font-size: 80%;
  color: #999;
}

.special-block{
  height: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    img{
      width: 45px;
      height: auto;
    }
    &:disabled{
      opacity: 0.4;
    }
  }
}

.search{
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-bottom: 20px;
}

.text-green{
  color: green;
}

.text-danger{
  color: red;
}